.item-listings {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

.cats {
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  border: solid;
  border-radius: 10px;
  padding:10px
}

.filterBox {
  text-align: center;
}

.price-sort {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.category-buttons {
  background-color: rgba(0, 0, 0, 0);
  border-color: rgb(0, 0, 238);
  border-style: none;
  box-sizing: content-box;
  cursor: pointer;
}
.category-buttons:hover{
  box-shadow:rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.cat-container{
  display: flex;
  justify-content: space-evenly;
 
}

.cats{
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.cats:hover{
  background-color: rgb(0, 0, 0, 0.3);
}